*, ::before, ::after {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: #ebe7e7;
    height: 110vh;
    overflow-x: hidden;
    
}

.calculator-grid {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: minmax(90px, auto) repeat(5, 60px);
    justify-content: center;
    align-content: center;
    /* align-items: center; */
    max-height: 90vh;
    padding: 40px 5px;
    margin: 0 auto;
    margin-top: 2rem;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, .2),
                -4px -4px 10px rgba(255, 255, 255, .8);
    background-color: #ebe7e7;
    max-width: 330px;
    gap: 10px;
   

}
.output {
    grid-column: 1 / -1;
    background: transparent;
    box-shadow: inset 4px 4px 10px rgba(0, 0, 0, .2),
                inset -4px -4px 10px rgba(0, 0, 0, .2);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    
}
.previous {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, .6);
}
.current {
    font-size: 2rem;
    color: black;
}
button{
    outline: none;
    cursor: pointer;
    font-size: 1.6rem;
    border: none;
    background: transparent;
    box-shadow: 4px 4px 5px #c3bfbf,
                -4px -4px 5px #f2efef;
    transition: .5s ease all;

}
button:hover {
    box-shadow: inset 4px 4px 5px #c3bfbf,
                inset -4px -4px 5px #f2efef;

}
.span-2{
    grid-column: span 2;
}
